<div class="outer">
    <div class="middle">
        <div class="inner">

            <div class="login-wr">
                <h2>Вход</h2>
                <p style="color:white;">{{ text }}</p>
                <div class="form">
                    <form method="post">
                        <input type="text" placeholder="Пользователь" name="login">
                        <input type="password" placeholder="Пароль" name="pas">
                        <button type="submit" name="inUserB">Вход</button>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>

