
<main class="main-content">
    <div class="page-header">
        <h1 class="page-header__title">{{ title }}</h1>
    </div>
    <section class="container-fluid">
        <div class="row">

            <aside class="main-aside col-xs-12 col-md-4 col-md-push-8">
                <div class="catalog-filter" data-type="genre" data-val="action">


                    <div class="catalog-filter__block">
                        <div class="catalog-filter__block__head">
                            Режимы игры
                        </div>
                        <div class="catalog-filter__checklist catalog-filter__checklist--icon">

                            <label>
                                <input type="checkbox" class="checkbox-picker js-catalog-checkbox"
                                       data-type="categories" data-val="coop" name="mode">
                                <span class="picker-label__icon">
<svg xmlns="http://www.w3.org/2000/svg" width="21.677" height="17.807" viewBox="0 0 21.677 17.807"><g
            fill="url(#svg-gradient)"><path
                d="M6.446 9.147c1.884 0 3.412-1.856 3.412-4.145 0-2.289-.502-4.145-3.412-4.145S3.033 2.713 3.033 5.002c0 2.289 1.528 4.145 3.413 4.145zM.001 15.475c-.001-.139-.001-.039 0 0zm12.889.109c.002-.038.001-.265 0 0z"/><path
                d="M12.883 15.308c-.063-3.987-.584-5.124-4.569-5.843 0 0-.561.715-1.868.715s-1.869-.715-1.869-.715C.635 10.176.083 11.296.01 15.178c-.006.317-.009.334-.01.297l.001.419s.949 1.913 6.444 1.913c5.496 0 6.444-1.913 6.444-1.913v-.31c0 .023-.002-.021-.006-.276z"/></g><path
            d="M15.379 8.039c1.828 0 3.309-1.8 3.309-4.019 0-2.22-.486-4.02-3.309-4.02S12.07 1.8 12.07 4.02c0 2.219 1.481 4.019 3.309 4.019zm6.279 5.857c-.15-3.865-.68-4.955-4.559-5.564 0 0-.528.705-1.796.734-1.268.029-1.827-.652-1.827-.652-.908.185-1.627.389-2.198.642 1.309.807 2.301 1.884 2.409 3.899l.143 3.313.001.089c.564.045.929.12 1.641.103 5.328-.122 6.206-1.997 6.206-1.997l-.007-.3c-.001.023-.004-.019-.013-.267z"
            fill="url(#svg-gradient)"/></svg>
</span>
                                Кооперативный режим
                            </label>
                            <label>
                                <input type="checkbox" class="checkbox-picker js-catalog-checkbox"
                                       data-type="categories" data-val="multiplayer" name="mode">
                                <span class="picker-label__icon">
<svg xmlns="http://www.w3.org/2000/svg" width="19.626" height="17.657" viewBox="0 0 19.626 17.657"><g
            fill="url(#svg-gradient)"><path
                d="M9.91 9.48c1.779 0 3.222-1.752 3.222-3.914 0-2.161-.474-3.914-3.222-3.914S6.688 3.405 6.688 5.566c0 2.162 1.443 3.914 3.222 3.914zm-6.085 5.975c-.001-.132-.002-.037 0 0zm12.171.103c.001-.036 0-.25 0 0z"/><path
                d="M15.989 15.297c-.06-3.765-.551-4.838-4.314-5.517 0 0-.53.675-1.764.675S8.146 9.78 8.146 9.78c-3.722.672-4.244 1.729-4.312 5.395-.006.299-.008.315-.009.28l.001.396s.896 1.806 6.085 1.806 6.085-1.806 6.085-1.806v-.293a2.41 2.41 0 0 1-.007-.261z"/><path
                d="M19.585 13.259c-.29-3.755-.846-4.795-4.643-5.243 0 0-.446.628-1.541.759.839.445 1.839.831 2.46 1.547 1.031 1.188.973 2.526 1.057 3.898.026.43.008.853-.046 1.265 2.32-.657 2.754-1.673 2.754-1.673l-.018-.292a3.36 3.36 0 0 1-.023-.261zM12.684.011c-.871.053-1.482.283-1.934.622 2.713-.151 3.292 1.56 3.423 3.709.088 1.439-.484 2.722-1.396 3.458.128.011.254.031.385.023 1.776-.109 3.109-1.946 2.977-4.103-.132-2.157-.711-3.877-3.455-3.709zM.04 13.259c.29-3.755.846-4.795 4.643-5.243 0 0 .446.628 1.541.759-.839.445-1.839.831-2.46 1.547-1.031 1.188-.973 2.526-1.057 3.898-.026.43-.008.853.046 1.265C.434 14.827 0 13.811 0 13.811l.018-.292c-.001.022.004-.02.022-.26zM6.942.011c.871.053 1.482.283 1.934.622-2.713-.151-3.292 1.56-3.423 3.709-.089 1.439.483 2.722 1.395 3.458-.128.011-.254.032-.385.024-1.776-.109-3.109-1.946-2.977-4.103.133-2.158.712-3.878 3.456-3.71z"/></g></svg>
</span>
                                Сетевая игра
                            </label>
                        </div>
                    </div>


                    <div class="catalog-filter__block">
                        <div class="catalog-filter__block__head">
                            Платформы
                        </div>
                        <div class="catalog-filter__checklist catalog-filter__checklist--icon">
                            <label>
                                <input type="checkbox" class="checkbox-picker js-catalog-checkbox" name="platform"
                                       data-type="platforms" data-val="windows">
                                <span class="picker-label__icon">
<svg xmlns="http://www.w3.org/2000/svg" width="21.333" height="18.963" viewBox="0 0 21.333 18.963"><path
            fill="url(#svg-gradient)"
            d="M4.355.825C5.699.289 6.878.02 7.957 0c.567 0 1.101.061 1.608.179.772.197 1.84.775 2.247 1.008L9.88 7.766c-.985-.628-2.173-1.238-3.78-1.254h-.001c-1.072 0-2.236.247-3.585.753L4.355.825zm3.026 15.78c.478-1.615 1.625-5.517 1.968-6.683a17.135 17.135 0 0 0-.76-.442c-.995-.508-1.961-.766-2.873-.766-.124 0-.248.004-.374.015-1.164.095-2.227.401-2.911.639-.182.066-.367.136-.559.214L0 16.037c1.286-.474 2.423-.704 3.465-.704 1.684.001 2.906.627 3.916 1.272zm11.396-4.812c-1.221.392-2.393.591-3.489.591-1.999 0-3.398-.645-4.281-1.264l-1.884 6.514c.559.319 2.439 1.328 3.88 1.328 1.162 0 2.464-.297 3.976-.908l1.798-6.261zm2.556-8.82c-1.225.474-2.421.715-3.563.715-1.91 0-3.319-.659-4.231-1.293l-1.916 6.598c1.287.823 2.673 1.241 4.128 1.241 1.186 0 2.415-.283 3.655-.844l-.004-.046.078-.019 1.853-6.352z"/></svg>
</span>
                                Windows
                            </label>
                            <label>
                                <input type="checkbox" class="checkbox-picker js-catalog-checkbox" name="platform"
                                       data-type="platforms" data-val="mac">
                                <span class="picker-label__icon">
<svg xmlns="http://www.w3.org/2000/svg" width="16.53" height="20" viewBox="0 0 18.53 22.75"><path
            fill="url(#svg-gradient)"
            d="M15.49 12.09a5.136 5.136 0 0 1 2.46-4.33 5.314 5.314 0 0 0-4.16-2.26c-1.77-.18-3.46 1.05-4.36 1.05s-2.28-1.02-3.75-.99A5.559 5.559 0 0 0 .97 8.41c-2 3.48-.51 8.64 1.44 11.46.96 1.38 2.1 2.93 3.59 2.88 1.44-.06 1.99-.93 3.73-.93s2.23.93 3.76.9c1.55-.03 2.53-1.41 3.48-2.79a12.156 12.156 0 0 0 1.57-3.24 5.036 5.036 0 0 1-3.05-4.6zm-2.86-8.46A5 5 0 0 0 13.81 0a5.122 5.122 0 0 0-3.35 1.72 4.787 4.787 0 0 0-1.21 3.52 4.234 4.234 0 0 0 3.38-1.61z"/></svg>
</span>
                                Mac
                            </label>
                            <label>
                                <input type="checkbox" class="checkbox-picker js-catalog-checkbox" name="platform"
                                       data-type="platforms" data-val="linux">
                                <span class="picker-label__icon">
<svg xmlns="http://www.w3.org/2000/svg" width="21.01" height="18.59" viewBox="0 0 21.01 18.59"><path
            fill="url(#svg-gradient)"
            d="M14.444 4.596a1.97 1.97 0 1 0 3.94 0 1.97 1.97 0 0 0-3.94 0zm5.22-3.25a4.596 4.596 0 0 0-7.799 2.593l-4.2 6.365a4.154 4.154 0 0 0-1.641.431l-3.24-2.532a1.722 1.722 0 1 0-2.122 2.716l3.199 2.501a4.145 4.145 0 0 0 6.949 3.956 4.142 4.142 0 0 0 1.151-3.656l5.11-4.575a4.596 4.596 0 0 0 2.593-7.799zM7.879 17.208a2.764 2.764 0 0 1-2.764-2.764l.001-.044 1.373 1.073a1.72 1.72 0 0 0 2.419-.296 1.724 1.724 0 0 0-.296-2.419L7.309 11.74a2.764 2.764 0 1 1 .57 5.468zm8.535-9.329a3.283 3.283 0 1 1 0-6.566 3.283 3.283 0 0 1 0 6.566z"/></svg>
</span>
                                Linux
                            </label>
                        </div>
                    </div>


                    <div class="catalog-filter__clear">
                        <button type="button">
                            <svg xmlns="http://www.w3.org/2000/svg" width="8.88" height="9.03" viewBox="0 0 8.88 9.03">
                                <path fill="none" stroke="#171717" stroke-linecap="round" fill-rule="evenodd"
                                      d="M8.36.5l-7.87 8m0-8l7.87 8"/>
                            </svg>
                            Сбросить фильтр
                        </button>
                    </div>
                </div>
            </aside>

            <div class="catalog-wrap col-xs-12 col-md-8 col-md-pull-4">

                <div class="catalog-sort p-r-12">
                    <div class="catalog-sort__count">
                        Найдено <span>{{ count }}</span> товаров
                    </div>
                    <div class="catalog-sort__select">
                        <label>Сортировать</label>
                        <select name="sort" style="padding: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #f9f8f8;
    border: 1px solid #e1e2e3;
    height: 41px;
    outline: none!important;">
                            <option value="date-desc">По дате, с новых</option>
                            <option value="date">По дате, со старых</option>
                            <option value="price">По цене, с недорогих</option>
                            <option value="price-desc">По цене, с дорогих</option>
                            <option value="name">По названию</option>
                            <option value="popular">По популярности</option>
                        </select>
                    </div>
                    <ul class="nav nav-tabs catalog-sort__tabs">
                        <li><a class="js-available" href="#" data-available="false">Все</a></li>
                        <li class="active"><a href="#" class="js-available" data-available="true">В наличии</a></li>
                    </ul>
                </div>

                <div class="catalog catalog--main">
                    {% for product in goods %}
                        <div class="catalog-item">
                            <div class="catalog-item__img">
                                <a href="?act=good&c=catalog&id={{product.id}}"> <img src="{{ product.img }}" alt="{{ product.name }}"></a></div>
                            <div class="catalog-item__name"><a href="?act=good&c=catalog&id={{product.id}}">{{ product.name }}</a>
                                <div class="catalog-item__info">
                                    <div class="catalog-item__activation"><img src="https://steampay.com/img/platforms/1.png" alt="STEAM"></div>
                                    <div class="catalog-item__genres">{{ product.cat_name }}</div></div></div>
                            <div class="catalog-item__price"><span class="catalog-item__price-span" style="margin-right: 8px">{{ product.price }}₽</span>
                                <div onclick='AddToBusket({{product.id}});'><button class="catalog-item__discount" style="border: none;">КУПИТЬ</button></div></div></div>
                    {% endfor %}

                </div>

            </div>
        </div>
        <div class="about-text">
            {{ text |raw }}

        </div>
    </section>
</main>



