<div class="outer">
    <div class="middle">
        <div class="inner">

            <div class="login-wr">
                <h2>{{ title }}</h2>
                <p style="color:white;">{{ text }}</p>
                <form method="post">
                    <button type="submit" name="outUserB">Выйти</button>
                </form>
            </div>

        </div>
    </div>
</div>

