<main class="main-content">
    <div class="page-header">
        <h1>Заказ на сумму {{ totalSum }} Руб. успешно оформлен!</h1>
        <h2>Детали заказа: {{ name }} {{ phone }}</h2>
        <a href="?c=catalog">Вернуться в каталог</a>
        <p></p>
    </div>

</main>